USE [EXAM_NMCSDL_STANDARD]
GO
/****** Object:  Table [dbo].[BAC_SI]    Script Date: 2/7/2022 1:55:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAC_SI](
	[MA] [varchar](6) NOT NULL,
	[HO_TEN] [nvarchar](100) NULL,
	[BANG_CAP_CHUYEN_MON] [nvarchar](100) NULL,
	[DIA_CHI] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAC_SI_SDT]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAC_SI_SDT](
	[MA] [varchar](6) NOT NULL,
	[SDT] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC,
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_LICH_TIEM]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_LICH_TIEM](
	[MA_LICH_TIEM] [varchar](6) NOT NULL,
	[MA_BAC_SI] [varchar](6) NOT NULL,
	[MA_KHACH_HANG] [varchar](6) NOT NULL,
	[STT_MUI_TIEM] [int] NULL,
	[NGAY_NHAC_LAI] [date] NULL,
	[GHI_CHU] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_LICH_TIEM] ASC,
	[MA_BAC_SI] ASC,
	[MA_KHACH_HANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_VACCIN]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_VACCIN](
	[MA_VACCIN] [varchar](6) NOT NULL,
	[MA_LO] [varchar](10) NOT NULL,
	[TEN] [varchar](50) NULL,
	[NGAY_SAN_XUAT] [date] NULL,
	[NGAY_HET_HAN] [date] NULL,
	[SO_LIEU_DAT_HIEU_QUA] [int] NULL,
	[DO_TUOI_TIEM_CHUNG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA_VACCIN] ASC,
	[MA_LO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA] [varchar](6) NOT NULL,
	[HO_TEN] [nvarchar](100) NULL,
	[NGAY_SINH] [date] NULL,
	[DIA_CHI] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_TIEM]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_TIEM](
	[MA] [varchar](6) NOT NULL,
	[MA_VACCIN] [varchar](6) NULL,
	[NGAY_TIEM] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_LON]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_LON](
	[MA] [varchar](6) NOT NULL,
	[SDT] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC,
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_THAN]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_THAN](
	[MA] [varchar](6) NOT NULL,
	[HO_TEN] [nvarchar](100) NULL,
	[QUAN_HE] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_THAN_SDT]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_THAN_SDT](
	[MA] [varchar](6) NOT NULL,
	[SDT] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC,
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_SAN_XUAT]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_SAN_XUAT](
	[MA] [varchar](10) NOT NULL,
	[TEN] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRE_EM]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRE_EM](
	[MA] [varchar](6) NOT NULL,
	[MA_NGUOI_THAN] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VACCIN]    Script Date: 2/7/2022 1:55:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VACCIN](
	[MA] [varchar](6) NOT NULL,
	[LIEU_DUNG] [int] NULL,
	[DUONG_TRUYEN] [nvarchar](50) NULL,
	[MA_LOAI] [varchar](10) NULL,
	[TEN_LOAI] [nvarchar](50) NULL,
	[THOI_GIAN_NHAC_LAI] [int] NULL,
	[MA_NHA_SAN_XUAT] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_TIET_LICH_TIEM] ADD  DEFAULT (NULL) FOR [NGAY_NHAC_LAI]
GO
ALTER TABLE [dbo].[VACCIN] ADD  DEFAULT ((1)) FOR [LIEU_DUNG]
GO
ALTER TABLE [dbo].[BAC_SI_SDT]  WITH CHECK ADD FOREIGN KEY([MA])
REFERENCES [dbo].[BAC_SI] ([MA])
GO
ALTER TABLE [dbo].[CHI_TIET_LICH_TIEM]  WITH CHECK ADD FOREIGN KEY([MA_BAC_SI])
REFERENCES [dbo].[BAC_SI] ([MA])
GO
ALTER TABLE [dbo].[CHI_TIET_LICH_TIEM]  WITH CHECK ADD FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[KHACH_HANG] ([MA])
GO
ALTER TABLE [dbo].[CHI_TIET_LICH_TIEM]  WITH CHECK ADD FOREIGN KEY([MA_LICH_TIEM])
REFERENCES [dbo].[LICH_TIEM] ([MA])
GO
ALTER TABLE [dbo].[CHI_TIET_VACCIN]  WITH CHECK ADD FOREIGN KEY([MA_VACCIN])
REFERENCES [dbo].[VACCIN] ([MA])
GO
ALTER TABLE [dbo].[LICH_TIEM]  WITH CHECK ADD FOREIGN KEY([MA_VACCIN])
REFERENCES [dbo].[VACCIN] ([MA])
GO
ALTER TABLE [dbo].[NGUOI_LON]  WITH CHECK ADD FOREIGN KEY([MA])
REFERENCES [dbo].[KHACH_HANG] ([MA])
GO
ALTER TABLE [dbo].[NGUOI_THAN_SDT]  WITH CHECK ADD FOREIGN KEY([MA])
REFERENCES [dbo].[NGUOI_THAN] ([MA])
GO
ALTER TABLE [dbo].[TRE_EM]  WITH CHECK ADD FOREIGN KEY([MA])
REFERENCES [dbo].[KHACH_HANG] ([MA])
GO
ALTER TABLE [dbo].[TRE_EM]  WITH CHECK ADD FOREIGN KEY([MA_NGUOI_THAN])
REFERENCES [dbo].[NGUOI_THAN] ([MA])
GO
ALTER TABLE [dbo].[VACCIN]  WITH CHECK ADD FOREIGN KEY([MA_NHA_SAN_XUAT])
REFERENCES [dbo].[NHA_SAN_XUAT] ([MA])
GO
ALTER TABLE [dbo].[CHI_TIET_VACCIN]  WITH CHECK ADD  CONSTRAINT [CK_DATE] CHECK  (([NGAY_HET_HAN]>[NGAY_SAN_XUAT]))
GO
ALTER TABLE [dbo].[CHI_TIET_VACCIN] CHECK CONSTRAINT [CK_DATE]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [CK_CHECK_NGAY_SINH] CHECK  ((datediff(year,[NGAY_SINH],getdate())>=(0) AND datediff(year,[NGAY_SINH],getdate())<=(120)))
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [CK_CHECK_NGAY_SINH]
GO
